.body {
    margin: 0;
}

.main {
    padding: 70px;
    background-color: lightgrey;
}

.header-one {
    font-size: 50px;
    margin-top: 0;
}

.add-book {
    color: #fff;
    background-color: #888;
    padding: 10px 30px;
    border: 0;
}

.books {
    background-color: #fff;
    margin-top: 20px;
}

.book {
    padding: 15px;
    border: 1px solid lightgrey;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.book-cover {
    float: left;
    margin-right: 10px;
}

.description {
    float: left;
}

.book-name {
    margin-bottom: 5px;
}

.authors {
    display: block;
    margin-bottom: 5px;
}

.buttons {
    float: right;
    margin-top: 25px;
}

.books-button {
    background-color: #fff;
    border: 1px solid #000;
    width: 150px;
    padding: 10px 0;
    margin: 5px;
}

.editing {
    display: block;
}

.edit-form {
    background-color: #fff;
    padding: 30px;
    position: absolute;
    width: 85%;
    top: 70px;
    left: 71px;
    display: none;
    margin-top: 150px;
}

.header-two {
    font-size: 25px;
}

.label {
    display: block;
    margin-top: 30px;
}

.text {
    width: 90%;
    margin-top: 10px;
}

.year-release {
    width: 50px;
    margin-top: 10px;
}

.button-save {
    background-color: #888;
    border: 0;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    margin: 0;
    margin-top: 30px;
}

.button-cancel {
    background-color: lightgrey;
    border: 0;
    color: #888;
    width: 150px;
    padding: 10px 0;
    margin: 5px;
    margin-top: 30px;
}

.show-edit-form {
    display: block;
}

.show-books {
    visibility: hidden;
}